@import '../../styles/variables.scss';

.app-header{
    display: flex;
    flex-flow: row;
    align-items: center;
    background-color:$navy;
    padding: 2rem;
    color: white;
    justify-content: space-between;
}

.add-task-button{
    font-size: 30px;
    font-weight: bold;
}