@import '../../styles/variables.scss';

.crd-header{
    width: 100%;
    background-color: $red;
    display: flex;
    flex-flow: row;
    align-items: center;
    height: 3rem;
    border-radius: 5px 5px 0 0;
}
.task-card{
    width: 25%;
    margin: 2.5rem;
}

.task-icon{
    width: 40px; 
    border-radius: 100%;
    margin-left: 0.5rem;
}
.dueDate-info{
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
}
.description-info{
    margin: 1rem auto;
    text-align: justify;
    width: 80%;
    padding: auto;
}

.due-date-value{
    font-weight: bold;
    color: $red;
}

.done-button, .delete-button{
    margin: 1rem;
}